.about-page-wrapper {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.about-section {
    background: white !important;   /* remove green */
    padding-top: 20px;              /* small spacing */
}

